.container-content .content-main{
    padding: 30px 20px 0;
    overflow: hidden;
}
.container-content .content-main img{
    width: 430px;
    float: left;
    margin-right: 20px;
}
.container-content .content-main p{
    font-size: 12px;
    text-indent: 2em;
    line-height: 20px;
    margin-bottom: 20px;
    color:rgb(102,102,102);
}